nav {
  width: 1400px;
  margin: 0 auto;
}

nav ul {
  display: flex;
  justify-content: space-around;

  list-style-type: none;
}

li a {
  text-decoration: none;
  color: #9d7ced;
  text-transform: uppercase;
  transition: 0.6s;
}

li a:hover  {
  padding-bottom: 5px;
  border-bottom: 1.2px solid #9d7ced;
}

.task-one {
  margin: 100px;
  width: 300px;
  height: 300px;
  border: 1px solid;
  background-color: #9d7ced;

}


